
<div class="sessions">
    <div class="sessions-box">
      <h2>ログイン</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="sessions-email">
          <%=
            f.email_field :email,
            size:"30",
            class:"email-form",
            autofocus: "true",
            required: "required",
            autocomplete: "email",
            placeholder: "メールアドレス"
          %>
          <% if alert %>
            <span class="samuraimart-error-message">
              <strong>メールアドレスが正しくない可能性があります。</strong>
            </span>
          <% end %>
        </div>

        <div class="sessions-password">
          <%=
            f.password_field :password,
            size:"30",
            autofocus: "true",
            autocomplete: "current-password",
            placeholder: "パスワード"
          %>

          <% if alert %>
          <span class="samuraimart-error-message">
            <strong>パスワードが正しくない可能性があります。</strong>
          </span>
          <% end %>
        </div>

        <div class="">
          <div class="sessions-auto-rogin">
            <%=  f.check_box :remember_me, class: "" %>
            <%=  f.label :remember_me, "次回から自動的にログインする" %>
          </div>
        </div>

        <div class="sessions-rogin">
          <%=  f.submit "ログイン" %>
        </div>
        <div class="sessions-password-forget">
          <%= link_to "パスワードをお忘れの場合", new_user_password_path%>
          <% end %>
        </div>
      <div class="sessions-akount">
        <%= link_to "新規登録", new_user_registration_path %>
      </div>
    </div>
</div>
