 <h1>編集する</h1>
<%= form_with url: mypage_users_path, local: true, method: :put do |f| %>
　<h4>名前</h4>
　<%= f.text_field :name, value: @user.name %>
　<h4>メールアドレス</h4>
　<%= f.email_field :email, value: @user.email %><br>
　<h4>働いてる地域</h4>
　<%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name ) %>
　<h4>自己紹介</h4>
　<%=f.text_area :introduction, autofocus: "true", value: @user.introduction %>
　<h4>性別</h4>
　<div class="field">
  <%= f.label :image　%>
  <%= f.file_field :image %>
　</div>
　
　
　
　
　<%= f.submit '保存' %>
　<%= link_to unsubscribe_users_path do %>
        <h1>退会する</h1>
　<% end %>
　
<% end %>