<div class=" user-show-image">
  <div class="user-show">
     <% if @user.image.attached? %>
      <%= image_tag @user.image, class: "icon-mini"%>
      <% else %>
      <p>No image available</p>
     <% end %>   
     
   <div class="user-show-text">
     <h2><%= @user.name %></h2><br>
      <div class="user-show-text2">
       <%= @user.human_attribute_enum(:sex)%>
      </div><br>
      <div class="user-show-text2">
       <%= @user.prefecture.name%>
      </div><br>
      <P class="user-show-text2"><%= @user.introduction %></P>
   </div>
   <div class="user-show--purofiru">
      <% if current_user.present? %>
        <% if current_user.id == @user.id %>
          <%= link_to "プロフィール編集", "#{@user.id}/edit" %>
        <% end %>
      <% end %>
   </div>
  </div>
</div>

<div class="contener m-0">
 
 <div class="show-user-index">
   <% @posts.each do |post| %>
    <div class="show-user-article"> 
     <div>
      <i class="fa-solid fa-location-pin"></i><%= post.post_place %>
     </div>
     <% if post.post_images.attached? %>
      <% post.post_images.each do |image| %>
       <%= image_tag image, size: '400x300' %>
      <% end %>
     <% end %><br>
     <span>タイトル：<%= post.title %><span>
     <br>
     <div class="mb-2">
      <%= link_to post.post_content.truncate(70), post_path(post) %>
     </div>
    </div>
   <% end %>
 </div>
</div>
 <div class="d-flex justify-content-end">
 <%= paginate @posts%>
 </div>