<h1>投稿一覧</h1>


<% if user_signed_in? %>
  <%= button_to "投稿", {controller: 'posts', action: 'new'}, {method: :get} %>
<% end %>


<% @posts.each do |post| %>
  <span class="text-danger">投稿者：</span><%= post.user.name %><br>
  <span>タイトル：<%= link_to post.title, "posts/#{post.id}" %><br>
  <%= post.post_content %><br>
   <% if post.post_images.attached? %>
    <% post.post_images.each do |image| %>
      <p><%= image_tag image %></p>
    <% end %>
  <% end %> 
<% end %>
<%= paginate @posts %>
