<div class="row justify-content-center">
     <h1 class="font-weight-normal mt-3">旅行投稿一覧</h1>
</div>

<div class="container">
 
 <div class="post-index">
   <% @posts.each do |post| %>
    <div class=" border border-3 m-1"> 
     <div class ="text-right">
      <i class="fa-solid fa-location-pin">沖縄</i>
       @<%= link_to post.user.name, "users/#{post.user.id}" %>
     </div>
     <% if post.post_images.attached? %>
      <% post.post_images.each do |image| %>
      <%= image_tag image, size: '300x200' %>
     <% end %>
    <% end %><br>
    <span>タイトル：<%= link_to post.title, "posts/#{post.id}" %></span>
    <br>
    <%= post.post_content %>
    </div>
   <% end %>
 </div>
</div>
 <div class="d-flex justify-content-end">
 <%= paginate @posts%>
 </div>
