<h1>投稿フォーム</h1>

<%= form_with model: @post do |f|%>

  <div class="field">
    <%= f.label :title, "タイトル" %></br>
    <%= f.text_field :title%>
  </div>

  <div class="field">
    <%= f.label :post_content, "本文" %></br>
    <%= f.text_area :post_content%>
  </div>

  <div class="submit">
    <%= f.submit "送信"%>
  </div>
 <%= link_to "投稿一覧", posts_path %>
<% end %>