<div class="show-cover">
  <div class="container">
 
    <div class="post-show ">
      <div class="">
        <% if @post.post_images.attached? %>
          <% @post.post_images.each do |image| %>
          <%= image_tag image, class: "w-100 show-post-img" %>
          <% end %>
        <% end %>
      </div>
      
      <div class="post-show-center">
        <h2 class="">
          <%= @post.title %>
        </h2>
        <div class="post-show-center-text">
          <%= @post.post_content %>
        </div>
        <%= form_with model:[@post, @comment],class: "post-show-form", local: false do |f| %>
          <%= f.text_area :comment_content, rows:'3',placeholder: "コメント", class:"post-show-center-coment"  %>
          <%= f.submit "送信", class: "post-show-button" %>
        <% end %>
      </div>
      
      <div class="post-show-center-icon">
        <% if current_user == @post.user%>
          <%= link_to "/posts/#{@post.id}/edit" do %>
            <i class="fa-regular fa-pen-to-square fa-size" style="color: #111722;"></i>
          <% end %>
          <%= link_to"/posts/#{@post.id}", method: :delete do %>
            <i class="fa-regular fa-trash-can fa-size" style="color: #e52a33;"></i>
          <% end %>
        <% end %>
      </div>
    </div>
      <h3 class="post-show-comment">コメント一覧
        <% if @post.favorited_by?(current_user) %>
          <%= link_to post_favorites_path(@post.id), method: :delete do %>
            <span>❤︎</span>
          <% end %>
          <% else %>
          <%= link_to post_favorites_path(@post.id), method: :post do %>
            <span class="color-red">♡お気に入りする</span>
          <% end %>
          <% end %>
      </h3>
        <% @comments.each do |comment| %><br>
          <%= comment.user.name %>
          <span class="comment-space"><%=comment.comment_content %></span>
          <% if current_user.id == comment.user_id %>
            <%= link_to post_comment_path(@post.id, comment.id), method: :delete do %>
              <span class="comment-space">コメント削除</span>
            <% end %>
          <% end %>
        <% end %>
  </div>
</div>