<!DOCTYPE html>
<html>
  <head>
    <title>ResortWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/f99782d83f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% unless current_page?(root_path) %>
     <%= render partial: 'layouts/header' %>
    <% end %>
    <%= yield %>
  </body>
</html>
